input, select{
    width: 25%;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
h2{
    text-align: center;
}
p{
    background-color: rgba(41, 152, 41, 0.399);
}